---
layout: default
title: "About"
description: "維新基地"
header-img: "img/home-bg.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <hr class="small">
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-12 col-xs-12 postlist-container">
      <blockquote>
        <p>「維新」，典出《詩經·大雅·文王篇》：周雖舊邦，其命維新。意為變革。<br>「基地」，以一地作為根據，儲備人力、物資，進而推動各式攻守策略。</p>
      </blockquote>
    </div>


        <!-- Sidebar Container -->
        <div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
            <!-- Short About -->
            <section class="visible-md visible-lg">
                <h5>FOUNDER</h5>
                <div class="short-about">
                    <div align="center">
                        {% if site.sidebar-avatar %}
                        <img src="{{site.sidebar-avatar}}" />
                        {% endif %}
                        <h5 style="color: #000000">Ronin Ke</h5>
                        {% if site.sidebar-about-description %}
                          <p>{{site.sidebar-about-description}}</p>
                        {% endif %}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
